@import "reset.css";

/* TYPO */
body {
    font:75%/1.5em Arial, sans-serif;
    color:rgb(228,243,228);
}
h1 {
    font:4em Helvetica, sans-serif;/* POUZIT NEJAKE PEKNE PISMO - FONT-FACE! */
    line-height:1.618em;
    margin-bottom:0.5em;
    text-shadow:3px 3px 3px rgb(0,0,0);
}
h2 {
    font-size:2.618em;
    font-weight:bold;
    line-height:1.618em;
    margin:0.618em 0;
    text-shadow:0 1px 0 rgb(35, 95, 49);
    color:rgb(106,185,113);
}
h2 span {
    font-size:0.618em;
    font-weight:normal;
    text-shadow:0 0 0;
    color:rgb(111,111,111);
}
em {
    font-style:normal;
    color:rgb(255,255,255);
}
h3 {
    font-size:1.618em;
    line-height:1.618em;
    margin:0.816em 0;
    color:rgb(111, 111, 111);
    text-shadow:0 1px 1px rgb(0,0,0);
}
p {
    line-height:1.5em;
    margin-bottom:1em;
}
small {
    color:rgb(79, 79, 79);
}
small strong {
    color:rgb(0,0,0);
}
.results small strong {
    color:rgb(111, 111, 111);
}
#results small {
    display:block;
    font-size:1em;
    margin-bottom:1em;
}
a {
    color:rgb(255,255,255);
}
a:hover,a:focus {
    text-decoration:underline;
    color:rgb(106,185,113);
}
h1 a {
    text-decoration:none;
}
h1 a,h1 a:hover,h1 a:focus {
    color:rgb(228,243,228);
}
/* /TYPO */

#page {
    background:rgb(31, 31, 31) url('../img/bg.jpg') repeat 0 0;
}
#page-in {
    padding:2em 2em 0;
}
.hp {
    text-align:center;
}
.results h1 {
    font-size:1.618em;
}
small a {
    color:rgb(79, 79, 79);
}

/* form */
.results #forms {
    padding-bottom:2em;
    border-bottom:1px solid rgba(63, 63, 63, 0.2);
}
#searchMethod {
    margin:0 0 0.2em 3px;
}
#searchMethod a {
    padding:0 0.2em;
    color:rgb(0,0,0);
    text-decoration:none;
}
#searchMethod a:hover,#searchMethod a:focus {
    text-decoration:underline;
}
#searchMethod .active {
    text-decoration:none;
    color:rgb(26, 143, 53);
    text-decoration:underline;
}
.results #searchMethod a {
    color:rgb(111,111,111);
}
.results #searchMethod .active {
    color:rgb(106,185,113);
}
.hp form {
    width:582px;
    height:378px;
    margin:0 auto;
    background:transparent url(../img/cassette.png) no-repeat 0 0;
}
fieldset {
    height:66px;
    width:459px;
    padding:0.2em 1em 0.6em;
    font-family:Arial,sans-serif;
    text-align:left;
    background-color:rgb(238, 238, 238);
    background:-webkit-gradient(linear, left top, left bottom, from(rgb(191, 191, 191)), color-stop(0.5,white), to(rgb(207, 207, 207)));
    background:-moz-linear-gradient(top, rgb(191, 191, 191), white 50%, rgb(207, 207, 207));
    border:10px solid rgb(0,0,0);
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
}
.hp fieldset {
    position:relative;
    left:-1px;
    top:26px;
    margin:0 auto;
}
.results fieldset {
    padding:0;
    background:none;
    border:none;
}
input[type="text"] {
    width:79%;
    margin-right:1%;
    padding:4px;
    font-size:1.4166em;
    background-color:#3b3f3b;
    border:2px solid rgb(0,0,0);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:white;
}
input[type="submit"] {
    margin:0 auto;
    font-size:1.4166em;
    font-weight:bold;
    padding:3px;
    color:rgb(0,0,0);
    text-shadow:0px 1px 0px rgb(255,255,255);
}
label {
    color:rgb(0,0,0);
}
fieldset small {
    display:block;
}
.results fieldset small {
    margin-left:5px;
}
/* /form */

/* results */
#results li {
    font-size:1.2em;
    line-height:1.5em;
    color:rgb(111,111,111);
}
#results li a {
    text-decoration:none;
}
#results li a:hover,#results li a:focus {
    text-decoration:underline;
}
#results section {
    display:inline-block;
    margin:0 4em 2em 0;
    vertical-align:top;
}
#results li span {
    display:inline-block;
    width:20px;
    height:5px;
    vertical-align:middle;
    text-indent:-1000px;
    background-color:rgba(41,41,41,0.8);
}
#results li span span {
    display:block;
    background-color:rgb(26, 143, 53);
}
/* /results */

/* footer */
html, body, #page {
    height:100%;
}
body > #page {
    height:auto;
    min-height:100%;
}
#page-in {
    padding-bottom:28em;
}
footer {
    display:block;
    position:relative;
	margin:-21.25em 2em 0;
	height:15.25em;
	padding:3em 0;
	color:rgb(111, 111, 111);
	border-top:1px solid rgba(63, 63, 63, 0.2);
}
footer a {
    color:rgb(111, 111, 111);
}
footer p {
    margin-bottom:0;
}
footer h4 {
    font-size:1.2em;
    font-weight:bold;
    margin:1.618em 0;
    line-height:1.618em;
}
footer h4 a {
    text-decoration:none;
    color:rgb(106,185,113);
}
footer h4 span {
    color:rgba(255,255,255,0.2);
}
footer ul {
    margin-bottom:2em;
}
footer li {
    display:inline;
}
footer img {
    vertical-align:middle;
}
/* /footer */

/* error msg */
.err {
    font-size:2em;
    margin:0.618em 0;
    color:rgb(183, 17, 24);
    text-shadow:0 0 1px rgb(85, 85, 85);
}
.err h2 {
    font-size:3em;
    letter-spacing:0.02em;
    margin-top:0;
    color:rgb(183, 17, 24);
    text-shadow:0 0 1px rgb(240, 240, 240);
}
/* /error msg */